# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\my\进销存python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
